{
  "swagger" : "2.0",
  "info" : {
    "description" : "Adobe Commerce Cloud API",
    "version" : "0.1.94",
    "title" : "Commerce Cloud Integration Framework API",
    "license" : {
      "name" : "Copyright 2018 Adobe Systems Incorporated. All Rights Reserved."
    },
    "x-ow-namespace" : "aem_demo",
    "x-ow-package" : "default"
  },
  "host" : "runtime.adobe.com",
  "basePath" : "/commerce",
  "tags" : [ {
    "name" : "carts"
  }, {
    "name" : "categories"
  }, {
    "name" : "customers"
  }, {
    "name" : "orders"
  }, {
    "name" : "products"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/carts" : {
      "post" : {
        "tags" : [ "carts" ],
        "summary" : "Creates an empty cart. For convenience it also adds a cart entry when product variant id and quantity are provided.",
        "description" : "",
        "operationId" : "postCart",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "formData",
          "description" : "Three-digit currency code.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "productVariantId",
          "in" : "formData",
          "description" : "The product variant id to be added to the cart entry.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "quantity",
          "in" : "formData",
          "description" : "The quantity for the product variant.",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "customerId",
          "in" : "formData",
          "description" : "If set, the newly created cart will belong to this customer.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to create a cart."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/carts/{id}" : {
      "get" : {
        "tags" : [ "carts" ],
        "summary" : "Returns a cart by ID.",
        "description" : "",
        "operationId" : "getCart",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart to be returned.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to fetch that cart."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "carts" ],
        "summary" : "Deletes the cart.",
        "description" : "",
        "operationId" : "deleteCart",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart to be removed.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to delete that cart."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/carts/{id}/billingaddress" : {
      "post" : {
        "tags" : [ "carts" ],
        "summary" : "Sets the billing address for the cart.",
        "description" : "",
        "operationId" : "postBillingAddress",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for the billing address",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The billing address and an optional customer id that must be set if the cart belongs to a customer.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddressWrapper"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to set the billing address"
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "carts" ],
        "summary" : "Deletes the billing address for the cart.",
        "description" : "",
        "operationId" : "deleteBillingAddress",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for which the billing address will be deleted.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to delete the billing address"
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/carts/{id}/entries" : {
      "post" : {
        "tags" : [ "carts" ],
        "summary" : "Adds a new cart entry to an existing cart.",
        "description" : "",
        "operationId" : "postCartEntry",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for the new entry",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "productVariantId",
          "in" : "formData",
          "description" : "The product variant id to be added to the cart entry. If product variant exists in the cart then the cart entry quantity is increased with the provided quantity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "quantity",
          "in" : "formData",
          "description" : "The quantity for the new entry.",
          "required" : true,
          "type" : "integer",
          "minimum" : 0,
          "format" : "int32"
        }, {
          "name" : "customerId",
          "in" : "formData",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to add an entry to that cart."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/carts/{id}/entries/{cartEntryId}" : {
      "put" : {
        "tags" : [ "carts" ],
        "summary" : "Updates an existing cart entry.",
        "description" : "",
        "operationId" : "putCartEntry",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cartEntryId",
          "in" : "path",
          "description" : "The cart entry id to be updated.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "quantity",
          "in" : "formData",
          "description" : "The cart entry quantity. When quantity is 0 the entry will be removed otherwise the value is used as new quantity.",
          "required" : true,
          "type" : "integer",
          "minimum" : 0,
          "format" : "int32"
        }, {
          "name" : "customerId",
          "in" : "formData",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to update that cart entry."
          },
          "404" : {
            "description" : "Resource not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "carts" ],
        "summary" : "Removes a cart entry from the cart.",
        "description" : "",
        "operationId" : "deleteCartEntry",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cartEntryId",
          "in" : "path",
          "description" : "The cart entry id to be removed.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to delete that cart entry."
          },
          "404" : {
            "description" : "Resource not found - cart or entry."
          }
        }
      }
    },
    "/carts/{id}/payment" : {
      "post" : {
        "tags" : [ "carts" ],
        "summary" : "Creates a payment for this shopping cart.",
        "description" : "",
        "operationId" : "postPayment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for which the payment will be set.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The payment to create. If the cart belongs to a customer, the customer id must be set.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentWrapper"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to set the payment."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "carts" ],
        "summary" : "Removes the payment from the shopping cart. ",
        "description" : "",
        "operationId" : "deletePayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for which the payment will be deleted.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to update the payment."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/carts/{id}/shippingaddress" : {
      "post" : {
        "tags" : [ "carts" ],
        "summary" : "Sets the shipping address for the cart.",
        "description" : "",
        "operationId" : "postShippingAddress",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for the shipping address",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The shipping address and an optional customer id that must be set if the cart belongs to a customer.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddressWrapper"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to set the shipping address"
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "carts" ],
        "summary" : "Deletes the shipping address for the cart.",
        "description" : "",
        "operationId" : "deleteShippingAddress",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for which the shipping address will be deleted.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to delete the shipping address"
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/carts/{id}/shippingmethod" : {
      "post" : {
        "tags" : [ "carts" ],
        "summary" : "Updates the shipping method for the cart.",
        "description" : "",
        "operationId" : "postShippingMethod",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for which the shipping method will be updated.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "shippingMethodId",
          "in" : "formData",
          "description" : "The shipping method id.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "formData",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to set the shipping method."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "carts" ],
        "summary" : "Deletes the shipping method for the cart.",
        "description" : "",
        "operationId" : "deleteShippingMethod",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the cart for which the shipping method will be deleted.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Cart"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to delete the shipping method."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/carts/{id}/shippingmethods" : {
      "get" : {
        "tags" : [ "carts" ],
        "summary" : "Retrieves the available shipping methods for the current cart.",
        "description" : "",
        "operationId" : "getShippingMethods",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the cart",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ShippingMethod"
              }
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/categories" : {
      "get" : {
        "tags" : [ "categories" ],
        "summary" : "Returns the entire category structure or a subset of it depending on pagination",
        "description" : "",
        "operationId" : "getCategories",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "The sort attributes and direction, separated by the pipe character (OpenWhisk does not yet support the 'multi' collection format).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "pipes"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Defines the number of products to skip when returning the result.",
          "required" : false,
          "type" : "integer",
          "minimum" : 0,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Defines the maximum number of products to be returned by that search.",
          "required" : false,
          "type" : "integer",
          "minimum" : 0,
          "format" : "int32"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Defines if the request should return either a flat or tree category structure.",
          "required" : false,
          "type" : "string",
          "default" : "flat",
          "enum" : [ "flat", "tree" ]
        }, {
          "name" : "depth",
          "in" : "query",
          "description" : "Defines the maximum depth of the returned categories. No value means infinite depth, 0 means only the root categories.",
          "required" : false,
          "type" : "integer",
          "minimum" : 0,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PagedResponse"
            }
          }
        }
      }
    },
    "/categories/{id}" : {
      "get" : {
        "tags" : [ "categories" ],
        "summary" : "Returns a category by ID",
        "description" : "",
        "operationId" : "getCategoryById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the category to return",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Category"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Category not found"
          }
        }
      }
    },
    "/customers/login" : {
      "post" : {
        "tags" : [ "customers" ],
        "summary" : "Performs a customer login, potentially merging an anonymous cart with a customer cart.",
        "description" : "",
        "operationId" : "postCustomerLogin",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "email",
          "in" : "formData",
          "description" : "The email address of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "password",
          "in" : "formData",
          "description" : "The password for this customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "anonymousCartId",
          "in" : "formData",
          "description" : "An optional anonymous cart id to be merged during the login process",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LoginResult"
            }
          },
          "400" : {
            "description" : "Invalid customer credentials"
          }
        }
      }
    },
    "/customers/{id}" : {
      "get" : {
        "tags" : [ "customers" ],
        "summary" : "Returns a customer by ID.",
        "description" : "",
        "operationId" : "getCustomerById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Customer not found"
          }
        }
      }
    },
    "/orders" : {
      "post" : {
        "tags" : [ "orders" ],
        "summary" : "Creates an order based on a cart.",
        "description" : "",
        "operationId" : "postOrder",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "formData",
          "description" : "The id of the cart from which the order will be created.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "formData",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Order"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied."
          },
          "403" : {
            "description" : "Not allowed to create the order."
          },
          "404" : {
            "description" : "Cart not found."
          }
        }
      }
    },
    "/products/search" : {
      "get" : {
        "tags" : [ "products" ],
        "summary" : "Searches products based on the given query parameters",
        "description" : "",
        "operationId" : "searchProducts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "text",
          "in" : "query",
          "description" : "The text to search if this is a full-text search.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "The search filters, separated by the pipe character (OpenWhisk does not yet support the 'multi' collection format).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "pipes"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The sort attributes and direction, separated by the pipe character (OpenWhisk does not yet support the 'multi' collection format).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "pipes"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Defines the number of products to skip when returning the result.",
          "required" : false,
          "type" : "integer",
          "minimum" : 0,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Defines the maximum number of products to be returned by that search.",
          "required" : false,
          "type" : "integer",
          "minimum" : 0,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PagedResponse"
            }
          },
          "400" : {
            "description" : "Invalid search parameters supplied"
          }
        }
      }
    },
    "/products/{id}" : {
      "get" : {
        "tags" : [ "products" ],
        "summary" : "Returns a product by ID.",
        "description" : "",
        "operationId" : "getProductById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the product to return",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Product"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Product not found"
          }
        }
      }
    }
  },
  "definitions" : {
    "Address" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Address unique identifier."
        },
        "title" : {
          "type" : "string",
          "description" : "Address title"
        },
        "salutation" : {
          "type" : "string",
          "description" : "Address salutation"
        },
        "firstName" : {
          "type" : "string",
          "description" : "First name."
        },
        "lastName" : {
          "type" : "string",
          "description" : "Last name."
        },
        "email" : {
          "type" : "string",
          "description" : "Email."
        },
        "phone" : {
          "type" : "string",
          "description" : "Phone."
        },
        "mobile" : {
          "type" : "string",
          "description" : "Mobile."
        },
        "fax" : {
          "type" : "string",
          "description" : "Fax."
        },
        "country" : {
          "type" : "string",
          "description" : "Country code as per ISO 3166-1. "
        },
        "region" : {
          "type" : "string",
          "description" : "Region."
        },
        "city" : {
          "type" : "string",
          "description" : "City."
        },
        "postalCode" : {
          "type" : "string",
          "description" : "Postal code."
        },
        "organizationName" : {
          "type" : "string",
          "description" : "Organization name. Can be company name. "
        },
        "department" : {
          "type" : "string",
          "description" : "Department."
        },
        "streetName" : {
          "type" : "string",
          "description" : "Street name."
        },
        "streetNumber" : {
          "type" : "string",
          "description" : "Street no."
        },
        "additionalStreetInfo" : {
          "type" : "string",
          "description" : "Additional details for the street address."
        },
        "additionalAddressInfo" : {
          "type" : "string",
          "description" : "Additional details for the address."
        }
      }
    },
    "AddressWrapper" : {
      "type" : "object",
      "properties" : {
        "address" : {
          "description" : "The address object.",
          "$ref" : "#/definitions/Address"
        },
        "customerId" : {
          "type" : "string",
          "description" : "If the cart belongs to a customer, this must be set to the customer id owning that cart."
        }
      }
    },
    "Asset" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The id of the asset."
        },
        "url" : {
          "type" : "string",
          "description" : "The url of the asset."
        }
      }
    },
    "Cart" : {
      "type" : "object",
      "required" : [ "cartEntries", "id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The id for the cart."
        },
        "cartEntries" : {
          "type" : "array",
          "description" : "The list of the entries in the cart.",
          "items" : {
            "$ref" : "#/definitions/CartEntry"
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "If set, this defines the customer owning this cart. If not set, the cart is an anonymous cart."
        },
        "totalPrice" : {
          "description" : "The total for the cart, including taxes, discounts, and shipping. ",
          "$ref" : "#/definitions/Price"
        },
        "totalProductPrice" : {
          "description" : "The product subtotal for the cart, including discounts and with or without taxes depending if the product prices include taxes or not.",
          "$ref" : "#/definitions/Price"
        },
        "cartTaxInfo" : {
          "description" : "The cart tax info, including cart entries tax and shipping info tax.",
          "$ref" : "#/definitions/TaxInfo"
        },
        "taxIncludedInPrices" : {
          "type" : "boolean",
          "description" : "Indicates if taxes are included or not in all the prices."
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this cart was created."
        },
        "lastModifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this cart was last modified."
        },
        "shippingAddress" : {
          "description" : "The shipping address for the cart products.",
          "$ref" : "#/definitions/Address"
        },
        "shippingInfo" : {
          "description" : "The shipping info for the cart.",
          "$ref" : "#/definitions/ShippingInfo"
        },
        "discounts" : {
          "type" : "array",
          "description" : "A list of all applied discounts.",
          "items" : {
            "$ref" : "#/definitions/Discount"
          }
        },
        "billingAddress" : {
          "description" : "The billing address for the cart.",
          "$ref" : "#/definitions/Address"
        },
        "payment" : {
          "description" : "The payment details for the cart.",
          "$ref" : "#/definitions/Payment"
        },
        "currency" : {
          "type" : "string",
          "description" : "The currency for the cart."
        }
      }
    },
    "CartEntry" : {
      "type" : "object",
      "required" : [ "id", "productVariant", "quantity" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The id for the entry."
        },
        "quantity" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The quantity for the entry."
        },
        "productVariant" : {
          "description" : "The ProductVariant for the entry.",
          "$ref" : "#/definitions/ProductVariant"
        },
        "unitPrice" : {
          "description" : "The product variant item price.",
          "$ref" : "#/definitions/Price"
        },
        "discounts" : {
          "type" : "array",
          "description" : "A list of all applied discounts",
          "items" : {
            "$ref" : "#/definitions/Discount"
          }
        },
        "cartEntryPrice" : {
          "description" : "The calculated cart entry price. May or may not include taxes, depending on the tax policy.",
          "$ref" : "#/definitions/Price"
        },
        "discountedCartEntryPrice" : {
          "description" : "The cart entry price after all discounts have been applied.",
          "$ref" : "#/definitions/Price"
        },
        "cartEntryTaxInfo" : {
          "description" : "The cart entry tax info.",
          "$ref" : "#/definitions/TaxInfo"
        },
        "type" : {
          "type" : "string",
          "description" : "Cart entry type.",
          "enum" : [ "REGULAR", "PROMOTION" ]
        }
      }
    },
    "Category" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The internal unique ID of the category in the commerce backend system."
        },
        "name" : {
          "type" : "object",
          "description" : "The localized name of the category.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "description" : {
          "type" : "object",
          "description" : "The localized description of the category.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "mainParentCategoryId" : {
          "type" : "string",
          "description" : "The id of the main parent category (if this category has multiple parents)."
        },
        "parentCategories" : {
          "type" : "array",
          "description" : "The list of parent categories for this category. Depending on the backend system, the returned items may only have their ids being set.",
          "items" : {
            "$ref" : "#/definitions/Category"
          }
        },
        "subCategories" : {
          "type" : "array",
          "description" : "The list of subcategories for this category. Depending on the backend system, the returned items may only have their ids being set.",
          "items" : {
            "$ref" : "#/definitions/Category"
          }
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this product was created."
        },
        "lastModifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this product was last modified."
        }
      }
    },
    "Customer" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The unique id of this customer"
        },
        "email" : {
          "type" : "string",
          "description" : "The customer's email address"
        },
        "firstname" : {
          "type" : "string",
          "description" : "The firstname of this customer"
        },
        "lastname" : {
          "type" : "string",
          "description" : "The lastname of this customer"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this customer was registered"
        },
        "lastModifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this customer was last modified"
        }
      }
    },
    "Discount" : {
      "type" : "object",
      "required" : [ "discountedAmount", "id", "type" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The id for the discount"
        },
        "type" : {
          "type" : "string",
          "description" : "The type of the discount"
        },
        "name" : {
          "type" : "object",
          "description" : "The name of the discount",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "message" : {
          "type" : "object",
          "description" : "The message associated with the discount. May be displayed in the UI.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "discountedAmount" : {
          "description" : "The amount which is discounted. Subtract this to obtain new price",
          "$ref" : "#/definitions/Price"
        }
      }
    },
    "LoginResult" : {
      "type" : "object",
      "properties" : {
        "customer" : {
          "description" : "The customer info returned by the login process",
          "$ref" : "#/definitions/Customer"
        },
        "cart" : {
          "description" : "The current or merged cart created during the login process",
          "$ref" : "#/definitions/Cart"
        }
      }
    },
    "Order" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The order id."
        }
      }
    },
    "PagedResponse" : {
      "type" : "object",
      "properties" : {
        "offset" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The offset for this response, this is the number of elements skipped, not a page number."
        },
        "count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The actual number of results returned in results."
        },
        "total" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of results matching the query."
        },
        "results" : {
          "type" : "array",
          "description" : "The results for this response.",
          "items" : {
            "type" : "object"
          }
        }
      }
    },
    "Payment" : {
      "type" : "object",
      "required" : [ "method" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The id of the payment."
        },
        "customer" : {
          "description" : "The customer the payment belongs to. If this is not set the payment belongs to an anonymous customer.",
          "$ref" : "#/definitions/Customer"
        },
        "method" : {
          "type" : "string",
          "description" : "The method for this payment like Card or Cash."
        },
        "amount" : {
          "description" : "The amount of the payment.",
          "$ref" : "#/definitions/Price"
        },
        "token" : {
          "type" : "string",
          "description" : "The token used to communicate with the payment service provider."
        },
        "statusCode" : {
          "type" : "string",
          "description" : "The external status code for the payment."
        },
        "status" : {
          "type" : "string",
          "description" : "The external status message/text for the payment."
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this payment was created."
        },
        "lastModifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this payment was last modified."
        }
      }
    },
    "PaymentWrapper" : {
      "type" : "object",
      "properties" : {
        "payment" : {
          "description" : "The payment object.",
          "$ref" : "#/definitions/Payment"
        }
      }
    },
    "Price" : {
      "type" : "object",
      "required" : [ "centAmount", "currency" ],
      "properties" : {
        "currency" : {
          "type" : "string",
          "description" : "The currency code for that price."
        },
        "centAmount" : {
          "type" : "number",
          "description" : "The amount in cents for that price."
        },
        "country" : {
          "type" : "string",
          "description" : "The country code for that price."
        }
      }
    },
    "Product" : {
      "type" : "object",
      "required" : [ "id", "masterVariantId", "variants" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The internal unique ID of the product in the commerce backend system."
        },
        "name" : {
          "type" : "object",
          "description" : "The localized name of the product.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "description" : {
          "type" : "object",
          "description" : "The localized description of the product.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "prices" : {
          "type" : "array",
          "description" : "The prices for this product.",
          "items" : {
            "$ref" : "#/definitions/Price"
          }
        },
        "categories" : {
          "type" : "array",
          "description" : "The categories for this product.",
          "items" : {
            "$ref" : "#/definitions/Category"
          }
        },
        "assets" : {
          "type" : "array",
          "description" : "The assets for this product.",
          "items" : {
            "$ref" : "#/definitions/Asset"
          }
        },
        "simpleAttributes" : {
          "type" : "array",
          "description" : "The simple attributes for this product.",
          "items" : {
            "$ref" : "#/definitions/SimpleAttribute"
          }
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this product was created."
        },
        "lastModifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this product was last modified."
        },
        "masterVariantId" : {
          "type" : "string",
          "description" : "The id of the master variant"
        },
        "variants" : {
          "type" : "array",
          "description" : "The variants for this product.",
          "items" : {
            "$ref" : "#/definitions/ProductVariant"
          }
        },
        "variantAxes" : {
          "type" : "array",
          "description" : "The variant axis definitions defined in all the variants of this product.",
          "items" : {
            "$ref" : "#/definitions/VariantAxis"
          }
        }
      }
    },
    "ProductVariant" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The internal unique ID of the product in the commerce backend system."
        },
        "name" : {
          "type" : "object",
          "description" : "The localized name of the product.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "description" : {
          "type" : "object",
          "description" : "The localized description of the product.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "prices" : {
          "type" : "array",
          "description" : "The prices for this product.",
          "items" : {
            "$ref" : "#/definitions/Price"
          }
        },
        "categories" : {
          "type" : "array",
          "description" : "The categories for this product.",
          "items" : {
            "$ref" : "#/definitions/Category"
          }
        },
        "assets" : {
          "type" : "array",
          "description" : "The assets for this product.",
          "items" : {
            "$ref" : "#/definitions/Asset"
          }
        },
        "simpleAttributes" : {
          "type" : "array",
          "description" : "The simple attributes for this product.",
          "items" : {
            "$ref" : "#/definitions/SimpleAttribute"
          }
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this product was created."
        },
        "lastModifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date when this product was last modified."
        },
        "sku" : {
          "type" : "string",
          "description" : "The unique SKU of the product assigned by the vendor or manufacturer."
        },
        "variantAttributes" : {
          "type" : "array",
          "description" : "The variant attributes of this variant product.",
          "items" : {
            "$ref" : "#/definitions/VariantAttribute"
          }
        }
      }
    },
    "ShippingInfo" : {
      "type" : "object",
      "required" : [ "name", "price" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The shipping method name."
        },
        "price" : {
          "description" : "The shipping price.",
          "$ref" : "#/definitions/Price"
        },
        "discountedPrice" : {
          "description" : "The discounted shipping price.",
          "$ref" : "#/definitions/Price"
        },
        "shippingTaxInfo" : {
          "description" : "The tax for the shipping.",
          "$ref" : "#/definitions/TaxInfo"
        },
        "id" : {
          "type" : "string",
          "description" : "The shipping method id."
        }
      }
    },
    "ShippingMethod" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The id of the shipping method."
        },
        "name" : {
          "type" : "string",
          "description" : "The name of the shipping method."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the shipping method."
        },
        "price" : {
          "description" : "The price of the shipping method aka shipping cost.",
          "$ref" : "#/definitions/Price"
        }
      }
    },
    "SimpleAttribute" : {
      "type" : "object",
      "required" : [ "id", "name", "value" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The unique id for this text attribute, for example 'width'."
        },
        "name" : {
          "type" : "object",
          "description" : "The localized name for this text attribute, for example 'Width' or 'Breite'.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "value" : {
          "type" : "object",
          "description" : "The value of the attribute. This can be any arbitrary valid JSON value."
        }
      }
    },
    "TaxInfo" : {
      "type" : "object",
      "required" : [ "totalCentAmount" ],
      "properties" : {
        "totalCentAmount" : {
          "type" : "number",
          "description" : "The amount in cents for the tax info."
        },
        "taxPortions" : {
          "type" : "array",
          "description" : "The portions for this tax.",
          "items" : {
            "$ref" : "#/definitions/TaxPortion"
          }
        }
      }
    },
    "TaxPortion" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "object",
          "description" : "The localized name for this tax portion.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "centAmount" : {
          "type" : "number",
          "description" : "The amount in cents for the tax portion."
        }
      }
    },
    "VariantAttribute" : {
      "type" : "object",
      "required" : [ "id", "value" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The unique id for this variant attribute, for example 'size' or 'color'."
        },
        "value" : {
          "type" : "string",
          "description" : "The value for this variant property, for example 'xl' or 'blue'."
        }
      },
      "description" : "A VariantAttribute object always refers to a VariantAxis object in the parent Product object of the VariantProduct."
    },
    "VariantAttributeValue" : {
      "type" : "object",
      "required" : [ "name", "value" ],
      "properties" : {
        "value" : {
          "type" : "string",
          "description" : "The language-agnostic value for this variant attribute, for example 'blue'."
        },
        "name" : {
          "type" : "object",
          "description" : "The localized name for this variant value, for example 'Blue' or 'Blaue'.",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      }
    },
    "VariantAxis" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The unique identifier for this variant axis, for example 'size' or 'color'."
        },
        "name" : {
          "type" : "object",
          "description" : "The localized name for this variant axis, for example 'Color' or 'Farbe'.",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "values" : {
          "type" : "array",
          "description" : "The possible attribute values for this variant axis.",
          "items" : {
            "$ref" : "#/definitions/VariantAttributeValue"
          }
        }
      }
    }
  }
}